In [1]:
import pandas as pd

In [10]:
raw_data_df = pd.read_csv('raw/cs-training.csv', index_col=0)
raw_data_df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [11]:
def check_na():
    num_columns = len(raw_data_df.columns)

    for i in range(num_columns):
        count = raw_data_df.iloc[:,i].isna().sum()
        print(raw_data_df.columns[i], count, count / len(raw_data_df))
        
check_na()

SeriousDlqin2yrs 0 0.0
RevolvingUtilizationOfUnsecuredLines 0 0.0
age 0 0.0
NumberOfTime30-59DaysPastDueNotWorse 0 0.0
DebtRatio 0 0.0
MonthlyIncome 29731 0.19820666666666667
NumberOfOpenCreditLinesAndLoans 0 0.0
NumberOfTimes90DaysLate 0 0.0
NumberRealEstateLoansOrLines 0 0.0
NumberOfTime60-89DaysPastDueNotWorse 0 0.0
NumberOfDependents 3924 0.02616

In [16]:
# Extract Debt amount from DebtRatio and MontlyIncome
raw_data_df = raw_data_df[raw_data_df["MonthlyIncome"].notna()]
raw_data_df["Debt"] = raw_data_df["MonthlyIncome"] * raw_data_df["DebtRatio"]
raw_data_df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,Debt
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,7323.197016
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,316.878123
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,258.914887
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,118.963951
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,1584.975094
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0.385742,50,0,0.404293,3400.0,7,0,0,0,0.0,1374.595707
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,472.774869
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,4001.283436
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,0.000000
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,2038.750092

In [18]:
raw_data_df["Debt"].describe()

count    120269.000000
mean       2117.749001
std        4196.596020
min           0.000000
25%         595.282792
50%        1619.790998
75%        2879.730868
max      478450.559160
Name: Debt, dtype: float64

In [33]:
max(raw_data_df["Debt"])

478450.55915999995

In [36]:
# person with the most debt
raw_data_df[raw_data_df["Debt"] == 478450.55915999995]

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,Debt
59910,1,0.698978,48,0,35.440782,13500.0,11,0,0,0,1.0,478450.55916

Evidence of montlyincome
Get debt
Replace debt ratio with debt

In [44]:
raw_data_df.drop("DebtRatio", axis=1, inplace=True)
check_na()

SeriousDlqin2yrs 0 0.0
RevolvingUtilizationOfUnsecuredLines 0 0.0
age 0 0.0
NumberOfTime30-59DaysPastDueNotWorse 0 0.0
MonthlyIncome 0 0.0
NumberOfOpenCreditLinesAndLoans 0 0.0
NumberOfTimes90DaysLate 0 0.0
NumberRealEstateLoansOrLines 0 0.0
NumberOfTime60-89DaysPastDueNotWorse 0 0.0
NumberOfDependents 0 0.0
Debt 0 0.0

In [45]:
raw_data_df.to_csv('give_me_credit_data.csv', index=False)

In [46]:
raw_data_df.columns

Index(['SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents', 'Debt'],
      dtype='object')

In [47]:
list(raw_data_df.min())

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [48]:
list(raw_data_df.max())
raw_data_df.max()

SeriousDlqin2yrs                        1.000000e+00
RevolvingUtilizationOfUnsecuredLines    5.070800e+04
age                                     1.030000e+02
NumberOfTime30-59DaysPastDueNotWorse    9.800000e+01
MonthlyIncome                           3.008750e+06
NumberOfOpenCreditLinesAndLoans         5.800000e+01
NumberOfTimes90DaysLate                 9.800000e+01
NumberRealEstateLoansOrLines            5.400000e+01
NumberOfTime60-89DaysPastDueNotWorse    9.800000e+01
NumberOfDependents                      2.000000e+01
Debt                                    4.784506e+05
dtype: float64

In [49]:
data_dict = {
    'name': ['SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents', 'Debt'],
    'description': [
        'Person experienced 90 days past due delinquency or worse',
        'Total balance on credit cards and personal lines of credit except real estate and no installment debt like car loans divided by the sum of credit limits',
        'Age of borrower in years',
        'Number of times borrower has been 30-59 days past due but no worse in the last 2 years.',
        'Monthly income',
        'Number of Open loans (installment like car loan or mortgage) and Lines of credit (e.g. credit cards)',
        'Number of times borrower has been 90 days or more past due.',
        'Number of mortgage and real estate loans including home equity lines of credit',
        'Number of times borrower has been 60-89 days past due but no worse in the last 2 years.',
        'Number of dependents in family excluding themselves (spouse, children etc.)',
        'Monthly debt payments'
                   ],
    'upper_bound': [1.0, 50708.0, 103.0, 98.0, 3008750.0, 58.0, 98.0, 54.0, 98.0, 20.0, 478450.55915999995],
    'lower_bound': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
}

info_df = pd.DataFrame(data_dict)
info_df.to_csv('give_me_credit_info.csv', index=False)
info_df

,name,description,upper_bound,lower_bound
0,SeriousDlqin2yrs,Person experienced 90 days past due delinquenc...,1.000000e+00,0.0
1,RevolvingUtilizationOfUnsecuredLines,Total balance on credit cards and personal lin...,5.070800e+04,0.0
2,age,Age of borrower in years,1.030000e+02,0.0
3,NumberOfTime30-59DaysPastDueNotWorse,Number of times borrower has been 30-59 days p...,9.800000e+01,0.0
4,MonthlyIncome,Monthly income,3.008750e+06,0.0
5,NumberOfOpenCreditLinesAndLoans,Number of Open loans (installment like car loa...,5.800000e+01,0.0
6,NumberOfTimes90DaysLate,Number of times borrower has been 90 days or m...,9.800000e+01,0.0
7,NumberRealEstateLoansOrLines,Number of mortgage and real estate loans inclu...,5.400000e+01,0.0
8,NumberOfTime60-89DaysPastDueNotWorse,Number of times borrower has been 60-89 days p...,9.800000e+01,0.0
9,NumberOfDependents,Number of dependents in family excluding thems...,2.000000e+01,0.0
10,Debt,Monthly debt payments,4.784506e+05,0.0